{% extends 'gamehub/base.html' %}
{% block content %}
{{object}}
<br />
<h1>Played Games</h1>
<ul>
{% for played_game in played_games %}
    <li>{{ played_game.game.title }} - {{played_game.gameState}} <a href="{% url 'game:detail' game=played_game.game.id %}">Play</a></li>
{% empty %}
    <li>Sorry, buy some games to play or develop!</li>
{% endfor %}
</ul>
{% if developed_games %}
<h1>Developed Games</h1>
{% for developed_game in developed_games %}
    <li>
      <p>{{ developed_game.title }} - {{developed_game.viewcount}} views</p>
      <a href="{% url 'game:delete' game=developed_game.id %}">Delete</a>
      <a href="{% url 'game:game_update' game=developed_game.id %}">Update</a>
    </li>
{% empty %}
    <li>Sorry, write some game and earn money!</li>
{% endfor %}
{% endif %}
{% endblock %}
