{% extends 'gamehub/base.html' %}
{% block content %}
    <h1 class="text-center text-uppercase text-dark">
        {{object}}
    </h1>
    <div class="container">
        <div>
            {% if object.profile.image %}
                <img class="d-block mx-auto border p-2 img-fluid" src="{{object.profile.image.url}}"/>
            {% endif %}
        </div>
        <div>
            <h4 class="text-dark">Description:</h4>
            <div>{{ object.profile.description }}</div>
        </div>

        <div class="text-center mt-2">
            <h2>Played Games</h2>
        </div>
        <div class="row">
        {% for played_game in played_games %}

                <div class="col-sm-3 mt-2">
                    {% with  played_game.game as game%}
                        {% include 'gamehub/game_thumb.html'%}
                    {% endwith %}
                </div>
                <div class="col-sm-3 mt-2">
                    {% if played_game.gameState %}
                        {{ played_game.gameState|safe }}
                    {% endif %}
                </div>

        {% empty %}
            <h5>Sorry, buy some games to play or develop!</h5>
        {% endfor %}
        </div>
        {% if developed_games %}
            <div class="text-center">
                <h2>Developed Games</h2>
            </div>
            <div class="row border-row">
            {% for developed_game in developed_games %}

                    <div class="col-sm-3 mt-2">
                        <h3>{{ developed_game.title }}</h3>
                        <img class="embed-responsive"  src="{{developed_game.gamethumb.url}}" alt="Card image cap">
                        <div class="btn-group-sm">
                            <a class="btn btn-primary mt-1"  href="{% url 'game:delete' game=developed_game.id %}">Delete</a>
                            <a class="btn btn-primary mt-1" href="{% url 'game:game_update' game=developed_game.id %}">Update</a>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-2">
                        <h4>Stats</h4>
                        <div><span class="text-primary">Total view: </span><span>{{developed_game.viewcount}}</span></div>
                        <div><span class="text-primary">Total sells: </span><span>{{developed_game.sellcount}}</span></div>
                        <div><span class="text-primary">Game price: </span><span>{{developed_game.price}}</span></div>
                        <div><span class="text-primary">Game earnings: </span><span>{{developed_game.total_earn}}</span></div>
                        <a class="btn btn-primary mt-1" href="{% url 'accounts:statistics' request.user.id developed_game.id%}">Info</a>

                    </div>
                    {% for game in developed_game.gameplayed_set.all %}
                        {% comment %}
                        {% for payment in game.paymentdetail_set.all %}
                            <div class="col-sm-3 mt-2">
                                <span class="text-primary">Price: </span><span>{{payment.cost}}</span><br>
                                <span class="text-primary">Date: </span><span>{{payment.selldate}}</span><br>
                                <span class="text-primary">Purchased by </span><span>{{payment.user}}</span><br>
                            </div>
                        {% endfor %}
                        {% endcomment %}

                    {% endfor %}

            {% empty %}
                <h3>Sorry, write some game and earn money!</h3>
            {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'accounts:update' request.user.id %}"><button class="mt-2 btn btn-success">Update Profile</button></a>
    </div>
{% endblock %}
