{% extends 'gamehub/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="center_div">
    <form class="well form-horizontal" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend><h2><b>Registration Form</b></h2></legend><br>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br><button type="submit" class="btn btn-success" >Register</button></div>
            </div>
        </fieldset>
    </form>
    <legend><h2><b>Social Login</b></h2></legend><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-success">Google</button></a><br>
</div>
{% endblock %}
