{% extends 'gamehub/base.html' %}
{% load staticfiles %}

{% block styles %}
<style>

.rating-star > .star-full:before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f005";
}

</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{game.name}}</h1>
  {% if game.gameimage %}
    <img src="{{game.gameimage.url}}" class="img-responsive" />
  {% endif %}
  <p>{{game.description}}</p>
  <p>
    <a href="{% url 'game:purchase' game=game.id %}"><button class="btn btn-warning">Buy</button></a>
    {% with request as request %}
      {% with game as game %}
        {% include 'game/socialshare.html' %}
      {% endwith %}
    {% endwith %}
  </p>
  <div class="row">
    {% if game_owner %}
      <input type="hidden" id="game_highscore_url" value="{% url 'game:highscore' game=game.id %}" />
      <input type="hidden" id="game_update_url" value="{% url 'game:update' game=game.id %}" />
      <input type="hidden" id="game_rate_url" value="{% url 'game:rate' game=game.id %}" />
      {% comment %}
        The SETTINGS message in the game sends the width and height to the platform and would be rendered accordingly
      {% endcomment %}
      <iframe id="game_iframe" src="{{game.url}}" width="100" height="100"></iframe>
      <div>
        <strong>Highest Gamescore is:</strong>
        <p id="gameresult">loading...</p>
      </div>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <div class="row ratings">
      <p>Rate this game: </p>
      <div class="rating-star" id="rate-1">
        <p><i class="fa fa-star-o"></i></p>
      </div>
      <div class="rating-star" id="rate-2">
        <p><i class="fa fa-star-o"></i></p>
      </div>
      <div class="rating-star" id="rate-3">
        <p><i class="fa fa-star-o"></i></p>
      </div>
      <div class="rating-star" id="rate-4">
        <p><i class="fa fa-star-o"></i></p>
      </div>
      <div class="rating-star" id="rate-5">
        <p><i class="fa fa-star-o"></i></p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
{% comment %}
  Meta Data for opengraphsearch would be included in the game!
{% endcomment %}
{% block opengraphsearch %}
<meta property="og:title" content="{{game.title}}" />
<meta property="og:type" content="image" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:description" content="{{game.description}}" />
{% if game.gameimage %}
  <meta property="og:image" content="{{game.gameimage.url}}" />
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/rating.js' %}"></script>
{% endblock %}