{% extends 'gamehub/base.html' %}
{% block content %}
<!-- <div class="container"> -->
<div class="panel panel-default">
<div class="panel-heading">
<h1 class="text-center text-uppercase">{{game.title}}</h1>
{% if game.gameimage %}
<img src="{{game.gameimage.url}}" class="img-responsive" style="width: 100%" />
{% endif %}
</div>
<div class="panel-body">
<p>
{{game.description}}
</p>
<p>
{% if not game_owner %}
    <a href="{% url 'game:purchase' game=game.id %}"><button class="btn btn-warning">Buy</button></a>
{% endif %}
{% with request as request %}
{% with game as game %}
{% include 'game/socialshare.html' %}
{% endwith %}
{% endwith %}
</p>
<div class="d-block text-center">
{% if game_owner %}
<input type="hidden" id="game_highscore_url" value="{% url 'game:highscore' game=game.id %}" />
<input type="hidden" id="game_update_url" value="{% url 'game:update' game=game.id user=request.user.id %}" />
{% comment %}
The SETTINGS message in the game sends the width and height to the platform and would be rendered accordingly
{% endcomment %}
<iframe id="game_iframe" src="{{game.url}}" width="100" height="100"></iframe>
<div>
<strong>Highest Gamescore is:</strong>
<p id="gameresult">
  loading...
</p>
</div>
{% endif %}
</div>
</div>
</div>
<!-- </div>-->
{% endblock %}
{% comment %}
Meta Data for opengraphsearch would be included in the game!
{% endcomment %}
{% block opengraphsearch %}
<meta property="og:title" content="{{game.title}}" />
<meta property="og:type" content="image" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:description" content="{{game.description}}" />
{% if game.gameimage %}
<meta property="og:image" content="{{game.gameimage.url}}" />
{% endif %}
{% endblock %}
