<div class="infinite-container">
    <div class="row infinite-item">
{% for game in games %}
    <div class="item col-sm-3 mb-4 pl-1 pr-1">
        <a class="game-reference" href="{% url 'game:detail' game=game.id %}">
            <div class="thumbnail p-1">
                <p class="inline text-nowrap text-center mb-0 w-100">{{ game.title }}</p>
            {% comment %}
                <div class="thumbnail-caption">
                    <p><a class="label text-dark">Sort description of the game</a></p>
                </div>
            {% endcomment %}
                <!-- Todo find some kind of default img for the game without -->
                {% if game.gamethumb %}
                    <img class="embed-responsive"  src="{{game.gamethumb.url}}" alt="Card image cap">
                {% else %}
                    <img class="embed-responsive" alt="Card image cap">
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}
    </div>
</div>

{% if games.has_next %}
    <a class="infinite-more-link" href="?page={{ games.next_page_number }}">More</a>
{% endif %}

<div class="loading" style="display: none;">
    Loading...
</div>