{% load staticfiles %}
{% load in_group %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'accounts:home' %}">GameHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:detail' request.user.id %}">Account</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Top Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Game 1</a>
          <a class="dropdown-item" href="#">Game 2</a>
          <a class="dropdown-item" href="#">Game 3</a>
        </div>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item nav-link">
          Welcome {{ request.user.username }}
          {% if request.user|in_group:"Developer" %}
            <a href="{% url 'game:upload' %}">Upload game</a>
          {% endif %}
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'game:search' %}" method="get">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-space" type="submit">Search Game</button>
    </form>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}" class="btn btn-outline-navbar btn-space">Logout</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-outline-navbar btn-space">Login</a>
        <a href="{% url 'accounts:register' %}" class="btn btn-outline-navbar btn-space">Register</a>
    {% endif %}
  </div>
</nav>
